#top {
  background-color: #999999;
}

/*Navigation*/

#navbar {

a {
  text-decoration: none;
  
}

li {
  display: inline-block;
}

}

/*Banner*/
.banner {
background-image: url('../images/banner.png');
height: 350px;
}
