<div id="top">
<div class="logos">
	<img src="../images/sermacs.png" id="sermac">
	<img src="../images/acs.png" id="acs">
</div>


<div class="alert">
	<h1>THE 69TH SOUTHEASTERN MEETING OF THE AMERICAN CHEMICAL SOCIETY NOVEMBER 7-11, 2017</h1>
</div>
</div>