<nav id="bottom">
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ATTEND</a></li>
		<li><a href="#">VENUE</a></li>
		<li><a href="#">PROGRAMS</a></li>
		<li><a href="#">EVENTS</a></li>
		<li><a href="#">EXPO</a></li>
		<li><a href="#">SPONSORS</a></li>
	</ul>

	<p>&copy; 2015-2017 SERMACS</p>
</nav>