---
title: Sermacs 2017
---
<!-- Top annoucements -->
  


<!-- Navbar -->

<nav id="navbar">
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ATTEND</a></li>
		<li><a href="#">VENUE</a></li>
		<li><a href="#">PROGRAMS</a></li>
		<li><a href="#">EVENTS</a></li>
		<li><a href="#">EXPO</a></li>
		<li><a href="#">SPONSORS</a></li>
	</ul>

</nav>

<div class="banner">
	<!-- Banner here!! -->
</div>


<!-- Bottom divs -->
<div id="sections">

<div class="one">
<div id="join">
	<h1>Join Us!</h1>
	<img src="../images/register.png"><br>
	<img src="../images/exhibit.png">
</div>

<div class="keynote">
	<img src="../images/speaker.png">
	<p>
		Lorem ipsum dolor sit amet, sodales adipiscing in, est mi interdum iaculis. Per ut quis pretium imperdiet a mauris, arcu vivamus aliquam donec sed. Accumsan mauris bibendum, enim pellentesque magna amet eget molestie a, adipiscing platea a praesent donec dolor, lacus sit excepteur non wisi diam, metus mauris vestibulum sodales mauris rhoncus suscipit.
	</p>
</div>
</div>

<div class="second">
	<div id="sponsors">
	<h1>Special Thanks To</h1>
		<img src="../images/know.png">
		<img src="../images/uncc.gif">
		<img src="../images/mcp.png">
	</div>
</div>

<!-- third -->

<div class="third">
	<div id="twitter">
		<h1>Lastest Tweets <img src="http://www.sermacs2017.org/content/themes/sermacs/includes/images/twitter.png"></h1>
		
		

		<h3>Follow us at @SERMACS2017</h3>
		<a class="twitter-timeline" href="https://twitter.com/SERMACS2017" data-widget-id="583841915130503169">Tweets by @SERMACS2017</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>



</div>

<!-- second -->



<!-- Footer -->

