---
title: Sermacs 2017
---
<!-- Top annoucements -->

<div id="top">
<div class="logos">
	<img src="../images/sermacs.png">
	<img src="../images/acs.png">
</div>


<div class="alert">
	<h1>THE 69TH SOUTHEASTERN MEETING OF THE AMERICAN CHEMICAL SOCIETY NOVEMBER 7-11, 2017</h1>
</div>
</div>

<!-- Navbar -->

<nav>
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ATTEND</a></li>
		<li><a href="#">VENUE</a></li>
		<li><a href="#">PROGRAMS</a></li>
		<li><a href="#">EVENTS</a></li>
		<li><a href="#">EXPO</a></li>
		<li><a href="#">SPONSORS</a></li>
	</ul>
</nav>

<div class="banner">
	<!-- Banner here!! -->
</div>


<!-- Bottom divs -->


<div class="one">
<div id="join">
	<h2>Joins Us!</h2>
	<img src="../images/register.png">
	<img src="../images/exhibit.png">
</div>

<div class="keynote">
	<img src="../images/speaker.png">
	<p>
		Lorem ipsum dolor sit amet, sodales adipiscing in, est mi interdum iaculis. Per ut quis pretium imperdiet a mauris, arcu vivamus aliquam donec sed. Accumsan mauris bibendum, enim pellentesque magna amet eget molestie a, adipiscing platea a praesent donec dolor, lacus sit excepteur non wisi diam, metus mauris vestibulum sodales mauris rhoncus suscipit.
	</p>
</div>
</div>

<!-- second -->
<div class="second">
	<div id="sponsors">
		<img src="../images/knowmad.jpg">
		<img src="../images/uncc.gif">
		<img src="../images/mcp.png">
	</div>
</div>

<!-- third -->

<div class="third">
	<div id="twitter">
		<h1>Lastest Tweets -widget?- </h1>
		<h3>Follow us at @SERMACS2017</h3>
	</div>
</div>

<!-- Footer -->

<div id="bottom">
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ATTEND</a></li>
		<li><a href="#">VENUE</a></li>
		<li><a href="#">PROGRAMS</a></li>
		<li><a href="#">EVENTS</a></li>
		<li><a href="#">EXPO</a></li>
		<li><a href="#">SPONSORS</a></li>
	</ul>

	<p>copyrights</p>
</div>